---
import "@apps/web/common/styles/global.scss";
import { Button } from "@packages/ui/shadcn";

export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <Button variant={"link"}>This is a button</Button>
  </body>
</html>
